# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Node
node_modules/
frontend/dist/
frontend/.vite/

# Env files
.env
.env.int
.env.staging
.env.prod

# Docker
*.dockerignore

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Alembic
alembic/versions/__pycache__/
